body {
  background: #fff;
}

.Class_Card {
  font-family: sans-serif;
  padding: 10px 30px;
}

.Class_Card > div {
  background-color: #5c2e91;
  background-color: #fff;
  color: #fff;
  color: #000000;
  text-align: left;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 8px;
}

.slick-prev:before,
.slick-next:before {
  background-color: #ffffff;
  color: #505050;
}

.card-title {
  font-weight: bold;
  margin: 0%;
  padding-top: 20px;
}

.price {
  margin: 1%;
  padding-bottom: 0%;
  margin: 1%;
  padding-bottom: 0%;
}

.card-text {
  margin: 0%;
  margin: 0%;
}

.carousel {
  justify-content: flex-start;
  padding-bottom: 20px;
}
.Header {
  font-weight: bold;
}
.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
