.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  width: fit-content;
  block-size: fit-content;
  height: fit-content;
  /* padding: 0; */
  border-radius: 10px;
}

.card img {
  /* margin-top: -20%; */
  width: 100%;
  border-radius: 8px;
}

.card div {
  text-align: right;
  font-weight: bold;
  margin: 3px;
  margin-right: 15px;
}
.plunge_into {
  text-align: center;
}

.card div {
  text-align: right;
  font-weight: bold;
  margin: 3px;
  margin-right: 15px;
}
